*/ {
  margin: 0;
}

body {
  background-color: white;
  font-family: "Space Mono", monospace;
}

section {
  width: 300px;
}

.calculation {
  color: #1C1C1C;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: right;
  max-width: 265px;
  letter-spacing: -2px;
  word-wrap: break-word;
}

.calculator-button {
  font-size: 25px;
  width: 60px;
  height: 60px;
  margin: 2px;
  border-radius: 50%;
  border: 0;
  text-align: center;
  cursor: pointer;
}

.light-button {
  background-image: linear-gradient(180deg, #F7F7F7, #EDEDED );
  color: #1C1C1C;
  border: 2px solid #20202011;
  box-shadow: 0 2px 5px 1px #00000020;
}

.light-button:hover {
  background-image: linear-gradient(180deg, #1c1c1c, #202020 );
  color:#F7F7F7;
  border: 2px solid #20202011;
  box-shadow: 0 2px 5px 1px #00000020;
}

.orange-button {
  color: #FFF7D6;
  background-color: #FB8500;
  border: 2px solid #20202011;
  box-shadow: 0 2px 5px 1px #00000020;
}

.orange-button:hover {
  color: #FB8500;
  background-color: #FFF7D6;
  border: 2px solid #20202011;
  box-shadow: 0 2px 5px 1px #00000020;
}

.clear-button {
  width: 120px;
  height: 60px;
  border-radius: 30px;
  border: 0;
}
.multi-button {
  rotate: 45deg;
}